@media screen and (min-width: 320px) and (max-width: 550px){
	
	.headContainer {
		height: 430px;
	}

	.header{
		width: 335px;
	}

	.about li{
		padding: 6px;
		font-size: 1.1em;
	}

	.logo img{
		width: 80px;
		height: 80px;
	}

	h1{
		font-size: 2em;
		line-height: 1.5em;
	}

	/* footer */

	.footContainer{
		height: 1085px;
	}

	footer{
		width: 335px;
		display: flex;
		flex-direction: column;
	}

	img{
		width: 250px;
	}
	.img1{
		margin-left: 30px;
	}
	.img2, .img3{
		margin-left: 30px;
	}
}



@media screen and (min-width: 551px) and (max-width: 700px){
	
	.headContainer {
		height: 500px;
	}

	.header{
		width: 470px;
	}

	.about li{
		padding: 9px;
		font-size: 1.4em;
	}

	.logo img{
		width: 108px;
		height: 108px;
	}

	h1{
		font-size: 2.5em;
		line-height: 1.7em;
	}

	/* footer */

	.footContainer{
		height: 1130px;
	}

	footer{
		width: 470px;
		display: flex;
		flex-direction: column;
	}

	img{
		width: 250px;
		margin-top: 35px;
	}
	.img1, .img2, .img3{
		margin-left: 90px;
	}

	p{
		font-size: 1.9em;
	}
}




@media screen and (min-width: 701px) and (max-width: 850px){
	
	.headContainer {
		height: 500px;
}
	.header{
		width: 670px;
	}

	.about li{
		padding: 9px;
		font-size: 1.5em;
	}

	.logo img{
		width: 120px;
		height: 120px;
	}

	h1{
		font-size: 2.7em;
		line-height: 1.5em;
	}

	/* footer */

	.footContainer{
		height: 280px;
	}

	footer{
		width: 670px;
		display: flex;
		flex-direction: row;
	}

	img{
		width: 170px;
	}
	.img1, .img2, .img3{
		margin-left: 40px;
	}

	p{
		font-size: 1.5em;
		margin-left: 70px;
	}
}


@media screen and (min-width: 851px) and (max-width: 999px){
	
	.headContainer {
		height: 500px;
	}
	.header{
		width: 800px;
	}

	.about li{
		padding: 14px;
		font-size: 1.5em;
	}

	.logo img{
		width: 120px;
		height: 120px;
	}

	h1{
		font-size: 2.9em;
		line-height: 1.5em;
	}

	/* footer */

	.footContainer{
		height: 310px;
	}

	footer{
		width: 800px;
		display: flex;
		flex-direction: row;
	}

	img{
		width: 200px;
	}
	.img1, .img2, .img3{
		margin-left: 50px;
	}

	p{
		font-size: 1.5em;
		margin-left: 85px;
	}
}
